mixin row(data)
  div(class="row row--" + data.imagePosition)
    .row__layout
      .row__image-wrap
        img.row__image.image-loader.js-image-loader(data-src=data.image)
      .row__content
        .row-content
          if data.label
            .row-content__label= data.label
          h2.row-content__title.title= data.title
          .row-content__text.text= data.text

          if data.link
            .row-content__link
              a.link.text(href=data.link, target="_blank")= data.prettyLink
          else
            .row-content__button
              span.btn.js-order-btn(data-id=data.id)
                span.btn__label Заказать