mixin servicesPage(data)
  include row-head.pug
  include row.pug
  include services-menu.pug
  article.services-page.js-page(style="color: " + data.color)
    include ../includes/header.pug
    .container
      .services-page__container.swiper-container.js-page-cube
        .swiper-wrapper.js-scroll-container
          section.services-page__row.swiper-slide
            .services-page__content
              +row-head(data.title, data.text)

          each val in data.rows
            section.services-page__row.swiper-slide
              .services-page__content
                +row(val)

          section.services-page__row.swiper-slide
            .services-page__content
              +servicesMenu(data.slug)

          section.services-page__row.services-page__row--contacts.swiper-slide.js-contacts
            .services-page__content
              include ../includes/contacts.pug