mixin servicesMenu(doNotUseSlug)
  - const menu = require('../index.js').getMenu(doNotUseSlug);
  .services-menu
    .container
      h2.services-menu__title.title Все услуги
      .services-menu__layout.g-flex
        each item in menu
          .services-menu__item
            a.image-link.js-inner-link(href=item.slug)
              img.image-link__image(src= item.image, alt= item.title)
              .image-link__title= item.title
