extends includes/main.pug

block content
  .error-404
    include includes/header.pug
    .container
      .error-404__layout
        .error-404__content
          .error-404__code 404
          .error-404__message страница не найдена

block title
  title Ошибка 404