extends includes/main.pug

block content
  include mixins/services-page.pug
  - const pageData = require('../index.js').getPage('branding');
  +servicesPage(pageData)

block title
  title Brandingdddd