extends includes/main.pug

block content
  .homepage.js-page
    include includes/services-home-nav.pug
    .container
      .homepage__layout
        .homepage__content
          .homepage__head
            .homepage-head
              .homepage-head__agency Маркетинговое агенство
              .homepage-head__name.js-site-name M-Stream
              .homepage-head__slogan Ваш товар - наши решения
          .homepage__slider-menu
            include includes/homepage-portfolio-menu.pug
          .homepage__menu-btn
            include includes/menu-btn.pug


block title
  title Маркетинговое агенство M-stream