html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg, input, select, textarea{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex: 1 0 auto;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

li{
  display: inline-block;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}

img, svg{
  max-width: 100%;
  vertical-align: bottom;
}

sub, sup{
  vertical-align: super;
  font-size: 0.5em !important;
  margin-top: -0.5em;
  display: inline-block;
}

b, strong{
  font-weight: bold;
}

textarea {
  resize: none;
}

.hidden{
  visibility: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.g-flex{
  display: flex;
  flex-wrap: wrap;

  &--justify{
    justify-content: space-between;
  }

  &--middle{
    align-items: center;
  }
}

.g-input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.g-input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.g-input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.g-input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.g-input:focus::-webkit-input-placeholder {opacity: 0;}
.g-input:focus::-moz-placeholder          {opacity: 0;}
.g-input:focus:-moz-placeholder           {opacity: 0;}
.g-input:focus:-ms-input-placeholder      {opacity: 0;}

.img-loader{
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: opacity .8s;

  &.loaded{
      opacity: 1;
  }
}