html {
  font-size: 8.5324px;
  color: gray;
  transition: color ease-out .3s;

  color: var(--mainTextColor);

  @media (min-width: 375px) {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    font-size: .625vw;
  }

  @media (min-width: 992px) {
    font-size: .525vw;
  }
}

html, body {
  position: relative;
  height: 100%;

  &.is-blocked {
    &::before {
      content: '';
      position: absolute 0;
      z-index: 9999;
    }
  }
}

body {
  font-family: 'OpenSans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;

  @media (min-width: 768px) {
    overflow: hidden;
  }
}

.title {
  font-family: 'Chekhovskoy';
  font-weight: 400;
}

.text {
  font-family: 'MuseoSansCyrl100';
  font-size: 2rem / 2em;
  color: var(--mainTextColor);

  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.link {
  color: var(--linkColor);
  text-decoration: none;
  border-bottom: 1px solid;
  transition: border-color ease-out .3s;

  &:hover {
    border-bottom-color: transparent;
  }
}

.logo {
  fill: currentColor;
  width: 6.3rem;
  height: 4.2rem;

  @media (min-width: 768px) {
    width: 12.5rem;
    height: 8.2rem;
  }
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

.page-scaler,
.pages-rotator {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.pages-rotator__page {
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.swiper-slide-active {
    z-index: var(--zFront);
  }
}


/*
  Кнопка
*/

.btn,
.btn-lighted,
.btn-empty {
  display: inline-block;
  border: none;
  padding: 1.6rem 1.5rem 1.8rem;
  border-radius: 5rem;
  min-width: 23rem;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &__label {
    font-size: 2.4rem / 1.2em;
    color: var(--mainTextColor);
  }
}

.btn {
  background-color: currentColor;
}

.btn-empty,
.btn-lighted {
  padding: 1.9rem 1.5rem 2.1rem;

  &__label {
    font-size: 1.8rem / 1.2em;
  }
}

.btn-empty {
  padding: 1.7rem 1.5rem 1.9rem;
  border: .2rem solid currentColor;
  transition: all ease-out .3s;

  &:hover {
    background-color: var(--mainTextColor);
  }

  &:hover &__label {
    transition: all ease-out .3s;
    color: var(--mainBgColor);
  }
}

.btn-lighted {
  background: linear-gradient(5deg, #ff9a00 0%, #ffc100 100%);
  box-shadow: 0 1rem 2.9rem rgba(255, 193, 0, .22);
  transition: all ease-out .5s;

  &:hover {
    box-shadow: none;
  }
}


/*
  Шапка
*/

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: var(--zFront);
  background-color: var(--mainBgColor);

  &__layout {
    height: 6rem;
    padding: .9rem 0;
    align-items: center;

    @media (min-width: 768px) {
      height: 10rem;
    }
  }
}

/*
  Кнопка меню
*/

.menu-btn {
  display: inline-block;
  position: relative;
  font-size: 2.6rem;
  font-weight: 300;
  z-index: var(--zFront);
  overflow: hidden;
  cursor: pointer;
  color: color(var(--mainTextColor) alpha(-30%));
  transition: color ease-out .2s;
  margin: -0.5rem -0.2rem;

  &__stairs {
    color: transparent;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    transition: all ease-out .2s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: calc(37% - .3rem);
      left: 0;
      border-top: .2rem solid var(--menuBtnAccentColor);
      border-bottom: .2rem solid var(--menuBtnAccentColor);
      transition: border ease-out .2s;
    }

    &::before {
      top: 16.2%;
    }

    &::after {
      top: calc(87.5% - .2rem);
      border-bottom-color: transparent;
    }
  }

  &:hover {
    color: var(--mainTextColor);
  }

  &:hover &__stairs{
    transform: translateY(-37%);

    &::before {
      border-top-color: transparent;
    }

    &::after {
      border-bottom-color: var(--menuBtnAccentColor);
    }
  }

  @media (min-width: 520px) {
    font-size: 3.9rem;
  }
}

.toggle__menu {
  position: absolute;
  right: 50px;
  top: 36px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  background: url("../images/icon/close.png") center no-repeat #161f24;
  background-size: 25px 21px;
  z-index: 1500;
}


/*
  Страницы услуг
*/

.services-page {
  height: 100%;

  &__container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    &:not(.is-active) {
      overflow: visible;

      & .swiper-wrapper {
        display: block;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }

      & .swiper-slide {
        visibility: visible;
        height: auto;
        pointer-events: auto;
        padding: 4rem 0;

        &:first-child {
          min-height: 100vh;
          padding-top: 18rem;
        }
      }
    }
  }

  &__row {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBgColor);
    padding-top: 10rem;

    &--contacts {
      background-color: #17191a;
    }
  }

  &__content {
    width: 100%;
  }
}




/*
  Верхний блок услуг
*/

.row-head {
  &__title {
    font-size: 3rem / 1.2em;
    text-align: center;
    text-transform: uppercase;
  }

  &__title + &__text {
    margin-top: 6rem;
  }

  @media (min-width: 520px) {
    &__title {
      font-size: 4rem;
    }
  }

  @media (min-width: 768px) {
    &__title {
      font-size: 6rem;
    }

    &__title + &__text {
      margin-top: 8rem;
    }
  }
}


/*
  Блок услуги
*/


.row {
  padding: 0 1.5rem;

  &__image-wrap {
    text-align: center;
    margin-bottom: 6rem;
  }

  &--right &__layout {
    flex-direction: row-reverse;
  }

  &__image {
    max-width: calc(100% + 30px);
    margin: 0 -15px;
  }

  @media (min-width: 768px) {
    padding: 0;

    &__layout {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100vh;
      margin-left: -6.5rem;
    }

    &__image-wrap,
    &__content {
      width: 50%;
      padding-left: calc(6.5rem + 15px);
      margin-bottom: 0;
    }

    &__content {
      padding-right: 15px;
      max-width: calc(700px + 3.25rem);
    }

    &__image {
      max-width: calc(100% + 15px);
      margin: 0 0 0 -15px;
    }
  }
}


/*
  Описание услуги
*/

.row-content {
  &__label {
    font-size: 1.6rem / 2em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 4rem / 1.2em;
    color: var(--mainTextColor);
    margin-bottom: 5rem;
    text-transform: uppercase;
  }

  &__button,
  &__link {
    margin-top: 5rem;
  }

  &__button {
    text-align: center;
  }

  &__link {
    font-size: 1.6rem / 2em;
  }

  @media (min-width: 520px) {
    &__label {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &__link {
      font-size: 1.6rem / 2em;
    }

    &__title {
      font-size: 4.8rem;
    }

    &__button {
      text-align: left;
    }
  }

  @media (min-width: 768px) {
    &__label {
      font-size: 2.4rem;
      margin-bottom: 2.4rem;
    }

    &__title {
      font-size: 7.2rem;
    }
  }
}


/*
  Меню услуг
*/

.services-menu {
  &__title {
    color: var(--mainTextColor);
    font-size: 6rem / 1.2em;
    text-align: center;
    margin-bottom: 4.5rem;
  }

  &__layout {
    margin: -3.8rem 0 0 -3.8rem;
  }

  &__item {
    width: 100%;
    padding: 3.8rem 0 0 3.8rem;

    @media (min-width: 768px) {
      width: 33.3333%;
    }
  }

  @media (min-width: 768px) {
    &__title {
      margin-bottom: 10rem;
    }
  }
}


/*

*/

.image-link {
  display: block;
  position: relative;
  overflow: hidden; /* fix */

  &::before {
    content: '';
    background-color: #100f0f;
    position: absolute 0;
    transform: translate3d(0, 0, 0); /* fix */
    transition: opacity ease-out .3s;
    opacity: .85;
  }

  &__image {
    width: 100%;
  }

  &__title {
    position: absolute 0;
    font-weight: 700;
    font-size: 3rem / 1em;
    height: 1em;
    margin: auto;
    color: #ffe5d6;
    text-align: center;
    z-index: var(--zFront);
    transform: translate3d(0, 0, 0);

    &::before,
    &::after {
      display: inline-block;
      font-family: 'OpenSans';
      font-weight: 700;
      color: #00a1de;
    }

    &::before {
      content: '—';
      margin-right: 1rem;
    }

    &::after {
      content: '.';
      margin-left: 1rem;
    }
  }

  @media (min-width: 768px) {
    &::before {
      opacity: 0;
    }


    &:hover::before {
      opacity: .85;
    }

    &__title {
      opacity: 0;
      transform: translate3d(0, 5rem, 0);
      transition: all ease-out .3s;

      &::before {
        width: 0;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        transition: all ease-out .3s;
      }

      &::after {
        opacity: 0;
        transition: all ease-out .3s;
        transform: scale(.8);
      }
    }

    &:hover &__title {
      transition-delay: .3s;
      opacity: 1;
      transform: translate3d(0, 0, 0);

      &::before {
        transition-delay: .7s;
        width: 2.2rem;
      }

      &::after {
        transition-delay: 1s;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}


/*
  Контакты
*/

.contacts {
  color: var(--mainTextColor);

  &__title {
    font-size: 6rem / 1.2em;
    margin-bottom: 4.5rem;
    text-align: center;
  }

  &__form {
    margin-top: 6rem;
  }

  &__address {
    margin-top: 6.5rem;
  }
}


/*

*/

.contacts-layout {
  justify-content: center;
  margin: -3rem 0 0 -13.7rem;

  &__item {
    padding: 3rem 0 0 13.7rem;
  }
}


/*

*/

.contacts-item {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;

  &__icon {
    width: 4rem;
    height: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid currentColor;

    & svg {
      max-width: 2.8rem;
      max-height: 3rem;
      fill: currentColor;
    }
  }

  &__data {
    font-size: 2rem / 1.2em;
    font-weight: 700;
    margin-left: 1.5rem;
    white-space: nowrap;
  }

  @media (min-width: 520px) {
    &__data {
      font-size: 3rem;
    }
  }
}


/*

*/

.order-form {
  &__title {
    font-size: 3rem / 1.2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__info {
    font-size: 2.4rem / 1.2em;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__layout {
    margin: -1.7rem 0 0 -3.8rem;
  }

  &__layout + &__layout {
    margin-top: 1.5rem;
  }

  &__cell {
    width: 100%;
    padding: 1.7rem 0 0 3.8rem;

    &--btn-left,
    &--btn-right {
      text-align: center;
    }

    &--btn-right {
      padding-top: 5rem;
    }

    @media (min-width: 768px) {
      &--btn-left {
        text-align: right;
      }

      &--btn-right {
        text-align: left;
        padding-top: 1.7rem;
      }
    }
  }

  &__item:not(:first-child) {
    margin-top: 1.7rem;
  }

  @media (min-width: 768px) {
    &__cell {
      width: 50%;
    }
  }
}

.input-item {
  position: relative;
  display: block;
  padding: 2.4rem 3.6rem;
  background-color: #fff;
  border-radius: 1rem;
  cursor: text;

  &__label {
    position: absolute;
    color: #454546;
    font-size: 2rem / 1.2em;
    top: 2.4rem;
    left: 3.6rem;
    transition: all ease-out .3s;
  }

  &__input,
  &__textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 2.6rem;
    padding: 0;
    font-size: 2rem / 1.2em;
  }

  &__textarea {
    height: 11.7rem;
  }

  &--filled &__label,
  &--focus &__label {
    transform: translate3d(0, -2rem,0);
    opacity: .5;
    font-size: 1.4rem;
  }
}




/*
  Адрес
*/

.contacts-adress {
  font-size: 2rem / 1.2em;
  text-align: center;
}


.services-nav {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  &__item {
    position: absolute;
    opacity: 0;
    transition: all ease-out .3s;

    &--top,
    &--bottom {
      left: 50%;

    }

    &--top {
      top: .9rem;
      transform: translate3d(-50%, -50%, 0);
      transition-delay: .5s;
    }

    &--right {
      top: 50%;
      right: -1.8rem;
      transition-delay: .7s;
      transform: translate3d(50%, -1.8rem, 0) rotateZ(90deg);
    }

    &--bottom {
      bottom: 1.1rem;
      transition-delay: .9s;
      transform: translate3d(-50%, 50%, 0);
    }

    &--left {
      top: 50%;
      left: -1.8rem;
      transition-delay: 1.1s;
      transform: translate3d(-50%, -50%, 0) rotateZ(-90deg);
    }
  }

  &__link {
    font-size: 3rem / 1.2em;
    color: var(--mainTextColor);
    @mixin inner-link;
  }

  &.is-ready &__item--top,
  &.is-ready &__item--bottom {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }

  &.is-ready &__item--right {
    opacity: 1;
    right: 2.8rem;
  }

  &.is-ready &__item--left {
    opacity: 1;
    left: 2.8rem;
  }
}


/*
  Главная страница
*/

.homepage {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBgColor);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background ease-out .5s;
  transform: translate3d(0, 0, 0);

  &.is-hidden {
    visibility: hidden;
  }

  @media (min-width: 768px) {
    padding: 0 10rem;
  }

  @media (min-width: 1280px) {
    padding: 0 15rem;
  }

  @media (min-width: 1600px) {
    padding: 0;
  }

  @media (min-width: 1920px) {
    background-size: contain;
  }

  &__slider-menu {
    margin-top: 11rem;
    padding-left: 2.4rem;

    @media (min-width: 768px) {
      padding-left: 0;
    }
  }

  &__content {
    position: relative;
  }

  &__menu-btn{
    position: absolute;
    right: 0;
    top: 0;
  }
}


/*

*/

.homepage-head {
  color: var(--mainTextColor);

  &__agency {
    font-size: 1.1rem;
    margin-bottom: 1.05rem;
  }

  &__name {
    font-family: 'Chekhovskoy';
    font-size: 5.35rem;
    margin-left: -.25rem;

    & span {
      transition: color ease-out .3s;
    }
  }

  &__slogan {
    font-size: 1.5rem;
    margin-top: -.25rem;
  }

  &__agency,
  &__slogan {
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (min-width: 520px) {
    &__agency {
      font-size: 1.4667rem / 1.2em;
      margin-bottom: 1.3rem;
    }

    &__name {
      font-size: 7.1333rem / 1.2em;
      margin-left: -.3333rem;
    }

    &__slogan {
      font-size: 2rem / 1.2em;
      margin-top: -.3333rem;
    }
  }

  @media (min-width: 768px) {
    &__agency {
      font-size: 2.2rem;
      margin-bottom: 2.1rem;
    }

    &__name {
      font-size: 10.7rem;
      margin-left: -.5rem;
    }

    &__slogan {
      font-size: 3rem;
      margin-top: -.5rem;
    }
  }
}



/*
  Портфолио на главной
*/

.portfolio-menu {
  &__item:not(:first-child) {
    margin-top: 3rem;
  }

  &__link {
    position: relative;
    font-size: 1.6rem / 1.2em;
    color: var(--mainTextColor);
    @mixin inner-link;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      margin-left: -2.4rem;
      height: 1px;
      background-color: var(--mainTextColor);
      width: 0;
      top: 50%;
      transform: translate3d(0, 0, 0);
      opacity: 0;
      transition: all ease-out .3s;
    }

    &.is-active {
      opacity: 1;
    }

    &.is-active::before,
    &:hover::before {
      width: 1.4rem;
      opacity: 1;
    }
  }

  @media (min-width: 520px) {
    &__link {
      font-size: 2.4rem / 1.2em;

      &::before {
        margin-left: -4.8rem;
      }

      &.is-active::before,
      &:hover::before {
        width: 3.8rem;
        opacity: 1;
      }
    }
  }
}


.image-loader {
  opacity: 0;
  transition: opacity ease-out .5s;

  &.is-loaded {
    opacity: 1;
  }
}


/*
  Ошибка 404
*/

.error-404 {
  background-color: var(--mainBgColor);
  color: #00cf00;

  &__layout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;

    @media (min-width: 768px) {
      padding-top: 10rem;
    }
  }

  &__content {
    text-align: center;
    color: var(--mainTextColor);
  }

  &__code {
    font-family: 'Chekhovskoy';
    font-size: 22.8rem / 1.2em;
  }

  &__message {
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 3rem / 1.2em;
    margin-top: -5.4rem;
  }
}


/*
  Главное меню
*/

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 50rem;
  z-index: 9999999;
  background: #161f24;
  padding-top: 8.8rem;

  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @media (min-width: 992px) {
    background-color: transparent;
    padding-top: 0;
  }

  &.is-showed {
    opacity: 1;
    visibility: visible;
    transition: none;
  }

  @media screen and (min-width: 992px) {
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__item {
    height: 100%;
    flex: 1;
    text-align: center;
  }

  &__link {
    padding: 2rem 0;
    background: #161f24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all cubic-bezier(.165,.84,.44,1) .4s;
    text-decoration: none;

    &:hover {
      background: #00acf1;
      cursor: pointer;
    }

    @media (min-width: 992px) {
      width: 0;
      height: 100%;
      padding: 2rem 0;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 318px;
        width: 300%;
        background: rgba(255,255,255,.09);
        transform: translate(-50%,-340px) rotate(-20deg);
        opacity: 0;
        transition: all cubic-bezier(.165,.84,.44,1) .4s
      }

      &:hover::before {
        opacity: 1;
        transform: translate(-50%) rotate(-20deg);
      }
    }
  }

  &__inner {
    font-weight: 300;
    display: block;
    min-width: 28rem;
    margin: 0 auto;
    white-space: nowrap;
  }

  &__title {
    font-weight: 300;
    font-size: 3rem;
    display: block;

    @media (min-width: 992px) {
      font-size: 4.7rem;
      margin-bottom: 4.5rem;
    }
  }

  &__label {
    font-size: 1.6rem;
    margin-top: .2rem;
    color: rgba(255,255,255,.6);

    @media (min-width: 992px) {
      font-size: 2.4rem;
    }
  }

  &__close {
    position: absolute;
    right: 50px;
    top: 36px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #161f24;
    z-index: 99;
    text-indent: -9999px;
    transform: scale(0);
    opacity: 0;
    transition: all cubic-bezier(.165,.84,.44,1) .4s;
    cursor: pointer;

    &:hover {
      background-color: #00acf1;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      border-radius: 1px;
      background-color: var(--mainTextColor);
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -1px;
      transform: rotate(40deg);
    }

    &::after {
      transform: rotate(-40deg);
    }
  }

  @media (min-width: 992px) {
    &.is-showed &__link{
      width: 100%;
    }
  }

  &.is-showed &__close{
    transform: scale(1);
    opacity: 1
  }
}