:root{
  --linkColor: #0089c8;

  --mainBgColor: #000;
  --mainTextColor: #fff;

  --menuBtnAccentColor: #00adbb;
  --servicesMenuAccentColor: #00a1de;

  --zBack: 1;
  --zMiddle: 5;
  --zFront: 10;
}