- var phone = "+38 093 222 22 22";
- var email = "m-stream@gmail.com";
//- \s - знаки пробела
//- &thinsp; - узкий пробел

.contacts(itemscope itemtype="http://schema.org/Organization")
  .container
    h2.contacts__title.title Контакты

    <!-- Контактная информация -->
    .contacts__layout
      .contacts-layout.g-flex
        .contacts-layout__item
          .contacts-item
            .contacts-item__icon
              svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#svg-phone")
            a(href= "tel:" + phone.replace(/\s/gi, "")).contacts-item__data(itemprop="telephone") !{phone.replace(/\s/gi, "&thinsp;")}
        .contacts-layout__item
          .contacts-item
            .contacts-item__icon
              svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#svg-message")
            a(href= "mailto:" + email).contacts-item__data(itemprop="email")= email

    <!-- Форма заказа -->
    .contacts__form
      form.order-form(action="" method="POST")
        input.js-service-id(type="hidden" name="service")
        h3.order-form__title Начать работу
        .order-form__info Оставьте свои данные и наш менеджер свяжется с Вами
        .order-form__layout.g-flex
          .order-form__cell
            .order-form__item
              label.input-item
                input.input-item__input.js-input(type="text" id="order-form-name" name="name" minlength="2" maxlength="50" required)
                label.input-item__label(for="order-form-name") Ваше имя
                span.input-item__error

            .order-form__item
              label.input-item
                input.input-item__input.js-input(type="email" id="order-form-email" name="email" minlength="6" maxlength="50" required)
                label.input-item__label(for="order-form-email") E-mail
                span.input-item__error

          .order-form__cell
            label.input-item
              textarea.input-item__textarea.js-input(id="order-form-comment" name="comment" maxlength="2048")
              label.input-item__label(for="order-form-comment") Комментарий
              span.input-item__error

        .order-form__layout.g-flex
          .order-form__cell.order-form__cell--btn-left
            button.btn-lighted(type="submit")
              span.btn-lighted__label отправить данные

          .order-form__cell.order-form__cell--btn-right
            a.btn-empty(href="#" target="_blank")
              span.btn-empty__label скачать бриф

    .contacts__address
      .contacts-adress(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
        <span itemprop="addressLocality">Киев</span>,
        <span itemprop="streetAddress">Жилянская 101, офис 8</span>
