.header
  .container
    .header__layout.g-flex.g-flex--justify
      .header__logo
        a(href="/" class="js-inner-link")
          svg.logo
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#svg-logo")
      .header__menu-button
        include menu-btn.pug
