- const menu = require('../../index.js').getHomepageData().menu;
.portfolio-menu
  each item in menu
    .portfolio-menu__item
      a.portfolio-menu__link.js-bg-item(href=item.link, data-id=item.id, target="_blank")= item.title
