- const menu = require('../../index.js').getMenu();

nav.main-menu.js-main-menu
  .main-menu__close.js-menu-close
  .main-menu__list
    each item in menu
      .main-menu__item
        a.main-menu__link.js-menu-link(href=item.slug)
          .main-menu__inner
            .main-menu__title= item.title
            .main-menu__label= item.menuLabel
