doctype html
html
  head
    meta(charset='utf-8')
    block title
    link( rel="stylesheet" href="/assets/dist/css/build.min.css")
    link( rel="stylesheet" href="/assets/dist/css/fonts.css")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    include svg-pack.pug
    include main-menu.pug
    .page-scaler.js-page-scaler
      .pages-rotator.swiper-container.js-pages-rotator
        .swiper-wrapper
          .pages-rotator__page.swiper-slide.swiper-slide-active
            block content

    script(src='/assets/dist/js/build.js')
    script
      include data.js