- const menu = require('../../index.js').getMenu();

nav.services-nav.js-services-nav
  each item in menu
    div(class="services-nav__item services-nav__item--" + item.position)
      a.services-nav__link.js-inner-link(href= item.slug)= item.title
